*{
    padding: 0;
    margin: 0;
}


.top{
    background-color: black;
    padding: 10px 0;
    .left{
        i{
            color: #bbbbbb;
            font-size: 12px;
            padding-right: 20px;
            transition: .3s ease-in-out;
            cursor: pointer;

            &:hover{
                color: #59AFEF;
                text-decoration: underline;
                span{
                    color: #59AFEF;
                }
            }

            span{
                padding-left: 3px;
                transition: .3s ease-in-out;
                font-family: 'Poppins', sans-serif;

            }
        }
        span{
            color: #bbbbbb;
            font-size: 12px;
            font-family: 'Poppins', sans-serif;

        }
    }
    .right{
        a{
            font-family: 'Poppins', sans-serif;
        text-decoration: none;
        font-size: 12px;
        color: #bbbbbb;
        padding-left: 20px;
        transition: .3s ease-in-out;
        &:hover{
            color: #59AFEF;
            text-decoration: underline;
        }
        }
    }
}


.header{
    background-color: white;
    padding: 1rem 0;
    

    .header-right{
        .dropdown{
            display: inline-block;
            position: relative;

            &:hover{
                .dropcontent{
                    visibility: visible;
                    top: 3rem;
                }
            }
            .dropbtn{
                padding: 0 15px;
                
                a{
                    transition: .3s ease-in-out;
                    color: #555555;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: 'Poppins', sans-serif;
                    &:hover{
                        color: #65AAFF;
                    }
                }
            }

            .dropcontent{
                z-index: 100;
                position: absolute;
                width: 180px;
                background-color: white;
                top: 5rem;
                left: 0;
                visibility: hidden;
                transition: .3s all ease-in-out;
                text-align: left;
                a{
                    transition: .3s ease-in-out;
                    font-family: 'Poppins', sans-serif;
                    padding: 10px 0 10px 30px;
                    color: #555;
                    text-decoration: none;
                    font-size: 11px;
                    display: block;
                    margin-top: 5px;
                    border-bottom: .5px solid #999999;
                    &:hover{
                        color: #65AAFF;
                    }
                }
            }
        }
        .btn{
            font-family: 'Poppins', sans-serif;
            letter-spacing: 2px;
            background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
            color: white;
            padding: 17px 30px;
            font-size: 10px;
            font-weight: bold;
            border: none;
            border-radius: 0;
            position: relative;
            z-index: 10;
            transform-origin: bottom left;     

            &:hover{
                color: black;
                &::after{
                    width: 100%;
                }
            }

            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                background-color: #F2F2F2;
                transition: .3s ease-in-out;
                z-index: -10;
                transform-origin: bottom right;
            }
        }  
    }
}


.first{
    font-family: 'Poppins', sans-serif;
    padding: 10rem 0;
    background-image: url(http://html.dynamiclayers.net/at/venox/img/slider-1.jpg);
    background-position: center;
    background-size: cover;
    h5{
        color: #ddd;
        font-size: 15px;
        font-weight: bold;
    }
    h1{
        color: #fff;
        font-size: 50px;
        font-weight: bold;
    }
    p{
        color: #ddd;
        font-size: 16px;
        margin: 20px 0;
    }
    button{
             font-family: 'Poppins', sans-serif;
            letter-spacing: 2px;
            background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
            color: white;
            padding: 17px 30px;
            font-size: 10px;
            font-weight: bold;
            border: none;
            border-radius: 0;
            position: relative;
            z-index: 10;
            &:hover{
                color: black;
                &::after{
                    width: 100%;
                }
            }

            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                background-color: #F2F2F2;
                transition: .3s ease-in-out;
                z-index: -10;
                transform-origin: bottom left;
            }
    }
}   


.image{
    font-family: 'Poppins', sans-serif;
    padding: 3rem 0;
    position: relative;

    .image-text{
        padding: 2rem 0;
        text-align: center;
        h4{
            font-size: 14px;
            color: #999999;
            font-weight: bold;
        }
        h2{
            font-size: 30px;
            color: #333333;
            font-weight: bold;
        }
        
        hr{
            background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
            width: 50px;
            height: 4px;
            bottom: 0;
            border-radius: 30px;
            left: 50%;
            margin: auto;
        }
    }

    .parts{
        position: relative;
        overflow: hidden;

        &:hover{
            .text{
                top: 8px;
                left: 15px;
            }
        }

        .text{
            position: absolute;
            top: 65%;
            left: 15px;
            width: 92.25%;
            background-color: #56A2FF;
            padding: 25px 0 26px 0;
            transition: .3s all ease-in-out;

            h3{
                font-size: 18px;
                color: white;
                font-weight: bold;
                padding-left: 20px;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                color: white;
                padding-left: 20px;
                margin-top: 20px;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 12px;
                font-weight: bold;
                transition: .3s;
                padding-left: 20px;
                &:hover{
                    text-decoration: underline;
                }
            }
            hr{
                background-color: #ddd;
            }
        }
    }
}


.services{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
    padding: 4rem 0;

    .services-text{
        padding: 1rem 0 3.5rem 0;
        text-align: center;
        h4{
            font-size: 14px;
            color: #999999;
            font-weight: bold;
        }
        h2{
            font-size: 30px;
            color: #333333;
            font-weight: bold;
        }
        
        hr{
            background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
            width: 50px;
            height: 4px;
            bottom: 0;
            border-radius: 30px;
            left: 50%;
            margin: auto;
        }
    }

    .row{
        .pieces{
            margin-bottom: 40px;
            h3{
                font-size: 18px;
                color: #333333;
                font-weight: bold;
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                color: #777777;
            }
            i{
                color: #5295FC;
                font-size: 35px;
                margin-right: 20px;
            }
        }
    }
}


.numbers{
    font-family: 'Poppins', sans-serif;

    padding: 5rem;
    background-image: url(http://html.dynamiclayers.net/at/venox/img/counter-bg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;

    i{
        font-size: 40px;
        color: #5295FC;
        margin-bottom: 10px;
    }
    h3{
        color: white;
        font-size: 40px;
        font-weight: bold;
    }
    h4{
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
}



.recentworks{
    background-color: #F2F2F2;
    padding-bottom: 5rem;
    .recent-text{
        padding: 5rem 0 3rem 0;
        text-align: center;
        h4{
            font-size: 14px;
            color: #999999;
            font-weight: bold;
        }
        h2{
            font-size: 30px;
            color: #333333;
            font-weight: bold;
        }
        
        hr{
            background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
            width: 50px;
            height: 4px;
            bottom: 0;
            border-radius: 30px;
            left: 50%;
            margin: auto;
        }
    }

    .row{
        font-family: 'Poppins', sans-serif;

        .info-text{
            background-color: white;
            padding: 20px 0 20px 20px;

            a{
                font-size: 17px;
                color: #333333;
                text-decoration: none;
                font-weight: bold;
            }
            h3{
                font-size: 10px;
                color: #999999;
                font-weight: bold;
                margin-top: 8px;
            }
            p{
                font-size: 14px;
                color: #777777;
            }
            button{
                color: white;
                font-size: 12px;
                background-color: #56a2ff;
                padding: 5px 15px;
                border: none;
                transition: .3s ease-in-out;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}



.input{
    font-family: 'Poppins', sans-serif;

    .row{
        padding-left: 7.5rem;
        .two1{
            padding: 4rem 0;
            h2{
                font-size: 32px;
                color: #333333;
                font-weight: bold;
            }
            p{
                font-size: 13.5px;
                color: #777777;
            }

            .input1{
                input{
                    width: 45%;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    height: 45px;
                    padding: .375rem .75rem;
                    margin: 0;
                }
            }

            input{
                width: 94%;
                border: 1px solid #ddd;
                border-radius: 2px;
                height: 45px;
                padding: .375rem .75rem; 
                margin-top: 10px; 
            }

            textarea{
                border: 1px solid #ddd;
                border-radius: 2px;
                height: 100px;
                width: 94%;
                padding: .375rem .75rem;
                margin-top: 10px; 

            }
            button{
               margin-top: 5px; 
               font-family: 'Poppins', sans-serif;
               letter-spacing: 2px;
               background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
               color: white;
               padding: 17px 30px;
               font-size: 10px;
               font-weight: bold;
               border: none;
               border-radius: 0;
               position: relative;
               z-index: 10;
               &:hover{
                   color: black;
                   &::after{
                       width: 100%;
                   }
               }
   
               &::after{
                   position: absolute;
                   content: '';
                   top: 0;
                   left: 0;
                   height: 100%;
                   width: 0;
                   background-color: #F2F2F2;
                   transition: .3s ease-in-out;
                   z-index: -10;
                   transform-origin: bottom left;
               }
       }
    }

    }
}


.pricingplans{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
    padding-bottom: 4rem;

    .pricing-text{
        padding: 5rem 0 2rem 0;
        text-align: center;
        h4{
            font-size: 14px;
            color: #999999;
            font-weight: bold;
        }
        h2{
            font-size: 30px;
            color: #333333;
            font-weight: bold;
        }
        
        hr{
            background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
            width: 50px;
            height: 4px;
            bottom: 0;
            border-radius: 30px;
            left: 50%;
            margin: auto;
        }
    }

    .row{
        .pricing-parts{
            .helpdiv{
                background-color: white;
                padding: 50px 30px;
                i{
                    color: #5295FC;
                    font-size: 40px;
                    margin-bottom: 20px;
                }
                h4{
                    font-size: 14px;
                    color: #999999;
                }
                h2{
                    font-size: 50px;
                    color: #333333;
                }
                p{
                    color: #777777;
                    font-size: 14px;
                }
                button{
                    color: white;
                    font-size: 10px;
                    padding: 14px 28px;
                    letter-spacing: 2px;
                    background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
                    font-weight: bold;
                    border: none;
                    position: relative;
                    z-index: 10;
                    transform-origin: bottom left;     

                    &:hover{
                        color: black;
                        &::after{
                        width: 100%;
                        }
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 0;
                        background-color: #F2F2F2;
                        transition: .3s ease-in-out;
                        z-index: -10;
                        transform-origin: bottom right;
                    }
                        }
                    }
        }
    }
}

.peoplesay{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 4rem;

    .people-text{
        padding: 5rem 0 3rem 0;
        text-align: center;
        h4{
            font-size: 14px;
            color: #999999;
            font-weight: bold;
        }
        h2{
            font-size: 30px;
            color: #333333;
            font-weight: bold;
        }
        
        hr{
            background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
            width: 50px;
            height: 4px;
            bottom: 0;
            border-radius: 30px;
            left: 50%;
            margin: auto;
        }
    }

    .row{
        .people{
            padding: 30px;
            text-align: center;
            img{
                max-width: 80px;
                height: 80px;
                text-align: center;
                border-radius: 50%;
                margin-bottom: 20px;
            }
            h3{
                font-size: 15px;
                color: #333333;
                margin-bottom: 3px;
            }
            h4{
                font-size: 12px;
                color: #333333; 
                margin-top: 0;
            }
            p{
                font-size: 14px;
                color: #777777;
            }
            i{
                color: #FAB702;
                font-size: 12px;
            }
        }
        .people:nth-child(2) {
            box-shadow: 0px 0px 7px 7px #F4F4F4
        }

        .circle{
            width: 5%;
            margin: auto;
            padding-top: 25px;
            
            i{
                color: #DDDDDD;
                font-size: 10px;
                cursor: pointer;
            }
            i:nth-child(1) {
                font-size: 12px;
                color: #56A2FF;
            }
        }
    }
}

.blackarea{
    background-image: url(http://html.dynamiclayers.net/at/venox/img/cta-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    h2{
        font-size: 36px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
    }
    p{
        color: #DDDDDD;
        font-size: 14px;
        margin-bottom: 20px;
    }
    button{
        color: white;
        font-size: 10px;
        letter-spacing: 2px;
        padding: 17px 30px;
        background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
                    font-weight: bold;
                    border: none;
                    position: relative;
                    z-index: 10;
                    transform-origin: bottom left;     

                    &:hover{
                        color: black;
                        &::after{
                        width: 100%;
                        }
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 0;
                        background-color: #F2F2F2;
                        transition: .3s ease-in-out;
                        z-index: -10;
                        transform-origin: bottom right;
                    }
    }
}

.blog{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
    padding-bottom: 4rem;
    
    .blog-text{
        padding: 5rem 0 3rem 0;
        text-align: center;
        h4{
            font-size: 14px;
            color: #999999;
            font-weight: bold;
        }
        h2{
            font-size: 30px;
            color: #333333;
            font-weight: bold;
        }
        
        hr{
            background: linear-gradient(-45deg,#2b18dd 0%,#56a2ff 50%,#51eca5 100%);
            width: 50px;
            height: 4px;
            bottom: 0;
            border-radius: 30px;
            left: 50%;
            margin: auto;
        }
    }

    .row{
        .blog-parts{
            h6{
                font-size: 10px;
                color: #999999;
                font-weight: bold;
                margin: 15px 0;
            }
            .ahref1{
                font-size: 18px;
                color: black;
                font-weight: bold;
                text-decoration: none;
                transition: .3s ease-in-out;
                &:hover{
                    opacity: .8;
                }

            }
            p{
                color: #777777;
                font-size: 14px;
                margin-top: 10px;

            }
            .ahref2{
                font-size: 12px;
                color: black;
                font-weight: bold;
                text-decoration: none;
                transition: .3s ease-in-out;
                &:hover{
                    text-decoration: underline;
                    opacity: .8;
                }

            }
        }
    }
}


.brands{
    .brandname{
        padding: 2.5rem 0;
        transition: .3s ease-in-out;
        opacity: .8;

        &:hover{
            opacity: 1;
        }
    }
}

.footer{
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
    padding-top: 6rem;
    
    .row{
        .parts{
            padding-bottom: 5rem;

            p{
                color: #999999;
                font-size: 14px;
                margin: 15px 0;
            }
            ul{
                list-style: none;
                li{
                    margin: 3px 0;
                    a{
                        text-decoration: none;
                        color: #999999;
                        font-size: 15px;  
                        transition: .3s;
                        &:hover{
                            color: #54A0F0;
                            text-decoration: underline;
                        }
                    }
                }
            }
            h3{
                color: #DDDDDD;
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            input{
                background-color: #222;
                border: none;
                width: 100%;
                height: 45px;
                padding: 15px;
                padding-right: 50px;
                border-radius: 3px;
                color: #fff;
                font-size: 14px;
            }
            i{
                margin: 0 2px;
                background-color: transparent;
                color: #ddd;
                border: 2px solid #555;
                width: 30px;
                height: 30px;
                padding: 7px;
                text-align: center;
                font-size: 10px;
                border-radius: 50%;
                transition: .3s;
                &:hover{
                    color: #54A0F0;
                }
            }
        }
    }

    .second{
        padding: 1rem 7.5rem;
        border-top: 1px solid #222;

        .pieces{
            p{
                font-size: 12px;
                color: #DDDDDD;
                padding-top: 10px;
            }

            ul{
                list-style: none;
                display: flex;
                li{
                    margin-left: 20px;
                    padding-top: 5px;
                    
                    a{
                        text-decoration: none;
                        font-size: 12px;
                        color: #DDDDDD;
                        transition: .3s ease-in;
                        &:hover{
                            color: #54A0F0;
                        }
                    }
                }
            }
        }
    }
}
